body {
    background: url('../img/background.png');
    background-attachment: fixed;
    background-size: cover;
}

.contTable::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
}

.contTable::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 6px;
}

.contTable::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}

.contTable::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}