@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    background: url('../img/b1.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto';
}

.contTable::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
}

.contTable::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 6px;
}

.contTable::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}

.contTable::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

.invalid {
    border-color: red;
}